.button {
    display: flex;
}

.button button{
    margin: 5px 0 0 10px;
    width: 80px;
    font-size: 1.1em;
    background: #183718;
    color: #b9feb9;
    outline: none;
    border-radius: 7px;
}

.button button:focus {
    outline: #b9feb9 solid 1px;
}

.button button:active {
    background: #b9feb9;
}

.button button:hover {
    background: lightgreen;
    color: #003300;
}

.button button.active {
    background: #01543e;
    color: #51ff00;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 100px;
}

.item_button {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background: #183718;
    font-size: 1.1em;
    color: lime;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: lime;
}
